$primary: #ef4649;
$secondary: #fedcc183;
$light: #fafafa;
$surface: #f1f1f1;
$dark: #212121;

$font-family-base: 'Inter', sans-serif;

:root {
  --vc-nav-background-color: #{$primary};
  --surface: #{$surface};
}

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/utilities/api';

@import './styles/nprogress.scss';

a {
  text-decoration: none;
  color: rgba($dark, 0.5);
}

.btn {
  outline: none;
  border: none;
  appearance: none;
  padding: 0.8rem;
  border-radius: 3px;
  &-primary {
    background-color: $primary;
    color: $light;
  }
}

.divider {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: $surface;
}

.alert {
  background-color: $surface;
  padding: 1rem;
  border-radius: 5px;
  color: rgba($dark, 0.7);
  font-size: 14px;
  svg {
    margin-right: 0.5rem;
  }
  &-error {
    background-color: rgba($primary, 0.1);
    color: $primary;
  }
}

.carousel {
  padding-left: 2rem;
  padding-right: 2rem;
}
.carousel__prev,
.carousel__next {
  //box-shadow: 0 0 1px 1px #0000000a;
  width: 30px;
  height: 30px;
}
.carousel__item {
  margin-right: 0.5rem;
}

